/**import icons**/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
       display: block;
    text-align: center;
    font-family: "Source Sans Pro", Arial, sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 1.7;
   color: #828282;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
   }
   
a {
  text-decoration: none;
}
.content_container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
html,body{
padding: 0;
margin: 0;
}
.padding_top_120{
  padding-top: 120px;
}
/**navigtion**/
.navbar {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
  padding: 1rem 1.15rem;
  position: fixed;
  border-bottom: 1px solid #eceef3;
  z-index: 9999;
}
.navbar, .navbar > .content_container {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}
@media (max-width: 768px) {
 .navbar, .navbar > .content_container {
   display: block;
}
}

@media (min-width: 576px) {
 .navbar .content_container {
   max-width: 540px;
}
}
@media (min-width: 768px) {
 .navbar .content_container {
   max-width: 720px;
}
}
@media (min-width: 992px) {
 .navbar .content_container {
   max-width: 960px;
}
}
@media (min-width: 1200px) {
  
 .navbar .content_container {
   max-width: 1140px;
}
}
.navbar .navbar-header {
 display: flex;
 align-items: center;
}
@media (max-width: 768px) {
 .navbar .navbar-header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row-reverse;
}
}
.navbar .navbar-header .navbar-toggler {
 cursor: pointer;
 border: none;
 display: none;
 outline: none;
}
@media (max-width: 768px) {
 .navbar .navbar-header .navbar-toggler {
   display: block;
}
}
.navbar .navbar-header .navbar-toggler span {
 height: 2px;
 width: 22px;
 background-color: #929aad;
 display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
 margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
 font-weight: 500;
 color: #3c4250;
}
.navbar .navbar-menu {
 display: flex;
 align-items: center;
 flex-basis: auto;
 flex-grow: 1;
}
@media (max-width: 768px) {
 .navbar .navbar-menu {
   display: none;
   text-align: center;
}
}
.navbar .navbar-menu.active {
 display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
 margin-left: auto;
 flex-direction: row;
 display: flex;
 padding-left: 0;
 margin-bottom: 0;
 list-style: none;
}
@media (max-width: 768px) {
 .navbar .navbar-menu .navbar-nav {
   width: 100%;
   display: block;
   border-top: 1px solid #eee;
   margin-top: 1rem;
}
}
.navbar .navbar-menu .navbar-nav > li > a {
 color: #3c4250;
 text-decoration: none;
 display: inline-block;
 padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
 color: #66f;
}
@media (max-width: 768px) {
 .navbar .navbar-menu .navbar-nav > li > a {
   border-bottom: 1px solid #eceef3;
}
}
.navbar .navbar-menu .navbar-nav > li.active a {
 color: #66f;
}
.navbar .navbar-header > a span {
 color: #66f;
}
.navbar .navbar-header h4 {
font-weight: 600;
  font-size: 25px;
}
@media (max-width: 768px) {
 .navbar .navbar-header h4 {
   font-size: 1.05rem;
}
}

.link_button{
  width: 125px;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #40c4ff;
  text-align: center;
  }

    /* Create four equal columns that floats next to each other */
    .col-1 {
      width: 100%;
      padding: 20px;
    }
    .col-2 {
      float: left;
      width: 50%;
      padding: 10px;
    }

    .col-3{
      float: left;
      width: 33.33%;
      padding: 10px;
    }

    .col-4{
      float: left;
      width: 25%;
      padding: 5px;
      }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

  .content_title{
      padding: 35px;
  }
  .body_content_container {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 280px;
  padding: 0;
}

/**Home page banner css**/

.emarald-row-grid-section {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  z-index: 20;
}
.landing_page_banner{
  background-image: url(../img/background-img-1.png);
}
.user_feedback{
  background-image: url(../img/background-img-1.png);
}
.page_custom_div{
  margin-top: 100px;
}
.banner_right_image {
  width: 50%;
  max-height:15%;
  float: left;
}

.wpb_single_image img {
height: auto;
max-width: 100%;
vertical-align: top;
}


.custom-btn.custom-btn-solid {
color: #fff;
background-color: #40c4ff;
border: 2px solid transparent;
}
.custom-btn input[type=button]:hover,input[type=button]:hover{
color: #0fe862;
border: 1px solid  #0fe862;
background-color: #fff;
}

.emarald-counters .icon i {
font-size: 45px;
color: #535353;
}
.custom-btn input[type=button]{
font-family: inherit;
position: relative;
display: inline-block;
vertical-align: middle;
width: auto;
outline: 0;
line-height: 20px;
letter-spacing: .05em;
font-weight: 700;
text-transform: uppercase;
box-sizing: border-box;
margin: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
padding:10px;
font-size: 14px;
cursor: pointer;
background-color: #ffffff;
height: 50px;
width: 200px;
border: 2px solid #40c4ff;
color: black;
}

.emarald_row {
margin-left: -15px;
margin-right: -15px;
}
.page-st-inner{
text-align: left;
}

.info_section .icon i:hover {
  color: rgb(112, 143, 227);
}

.info_section .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  line-height: 40px;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.home_container {
  width: 1170px;
}

.home_container:before, .home_container:after {
  content: " ";
  display: table;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}

.col-md-offset-1 {
  margin-left: 8.33333%;
}

.col-md-10 {
  width: 83.33333%;
}

.col-md-3 {
  width: 25%;
float:left;
}


.emarald-row-grid-container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  z-index: 20;
}
.emarald-counters .emarald-counter {
  font-size: 44px;
  display: block;
  color: rgb(46, 132, 26);
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-weight: 400;
  margin-bottom: 0.1em;
}

.emarald-counters .emarald-counter-label {
  color: rgb(16, 11, 11);
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 2em;
  display: block;
  font-family: "Roboto Slab", serif;
}


p {
   margin-bottom: 20px;
}

.info_section,._mativation {
   width: 95%;
   margin: 0 auto;
   margin-bottom: 40px;
   position: relative;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.info_section h3 {
   font-size: 19px;
   font-weight: 500;
}

.info_section h3 a {
   color: #000;
}
.container {
   width: 1170px;
 }
.container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
}

a{
  text-decoration: none;
}

.cooking_section_image{
  background-image: url(../img/pie2.jpeg);
  height: 390px;
  width: 100%;
  background-repeat: no-repeat;
  }
  
  ._mativation_text{
    padding-top:50px;
    padding-left:50px
  }


  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active_panel, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active_panel:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    line-height: 2;
    border:none;
  }


    input[type=text]:focus, input[type=password]:focus,input[type=date]:focus{
      outline: 1px solid rgb(68, 96, 235);
  }
  input[type=text] {
      border: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  input[type=submit],input[type=button] {
    width: 100%;
    background-color: rgb(68, 96, 235);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  textarea{
    padding: 10px;
  }
  input[type=submit]:hover,input[type=button]:hover {
    background-color: rgb(68, 96, 235);
  }
  
  .form-container {
    max-width: 500px;
    padding: 20px;
    display: inline-block;
  }
  form
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }
  .error{
    width: 100%;
    padding: 3px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:white;
    background-color: maroon;
    box-sizing: border-box;
  }

h5 a {
    color: #303030;
    font-weight: 700;
    font-size: 14px;
}

/* Contact Section */
.ch1 span {
  color: #ff9c11;
  margin-left: .7rem;
}

#contact {
    padding: 85px 0;
  background-color: #dee6f2;
}

.formcontact {
  width: 40vw;
}

.formTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formBottom {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.name, .email {
  width: 44%;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #eeeeee;
}

.subject, .message, .submit {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #fff;
}

.message {
  height: 150px;
}

.formBottom input[type=button] {
  width: 100%;
  background-color: orange;
  color: white;
  border: none;
  outline: none;
}

/**pricing page**/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section_title{
position:relative;
margin-bottom:70px;
}
.section_title h2{
position:relative;
display: inline-block;
font-size:48px;
line-height:1.2em;
color:#1e1f36;
font-weight:700;
}

.section_title .text{
position: relative;
font-size: 16px;
line-height: 28px;
color: #888888;
margin-top: 30px;
}



/**footer**/
footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {

  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;

  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;

  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}
